@font-face {
  font-family: 'typicons';
  src: url("../../node_modules/typicons.font/src/font/typicons.eot");
  src: url("../../node_modules/typicons.font/src/font/typicons.eot?#iefix") format('embedded-opentype'),
       url("../../node_modules/typicons.font/src/font/typicons.woff") format('woff'),
       url("../../node_modules/typicons.font/src/font/typicons.ttf") format('truetype'),
       url("../../node_modules/typicons.font/src/font/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("./fonts/raleway/Raleway-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

html {
  width: 400px;
  height: 600px;
}
body, #root, .root {
  width: 500px;
  height: 600px;
}
.root {
  display: grid;
  grid-template-columns: 60px 440px;
  grid-template-rows: auto;
  grid-template-areas:
    "nav content";
}

.nav {
  grid-area: nav;
  background: rgb(41, 47, 50);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
}

.nav .button-container {
  color: white;
  font-size: 50px;
  transition: all .8s ease-in-out;
}

.nav .button-container:hover {
  background: pink;
}

.nav .button-container .icon {
  transition: all .8s ease-in-out;
}
.nav .button-container .icon:hover {
  transform: rotate(360deg);
}

.content {
  grid-area: content;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.clip-table {
  display: flex;
  flex-direction: column;
}
.clip-row {
  display: block;
  padding: 4px 0;
  cursor: pointer;
}

.clip-row:hover {
  background: rgba(41, 47, 50, 0.1);
}

.clip-item-last {
  margin-right: 16px;
}

.clip-item {
  padding: 8px;
  width: 100%;
  display: flex;
}
.clip-item-content {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
.clip-item-icon {
  font-size: 18px;
  transition: color 200ms;
}
/* .clip-item-icon:hover {
  box-shadow: rgba(255,0,0, 0.1) 0 0 8px 0;
  border-radius: 8px;
  background-color: rgba(255,0,0, 0.2);
  line-height: 20px;
} */

.clip-item-icon-copy {
  padding-right: 10px;
}
.clip-item-icon:not(.clip-item-icon-copy) {
  padding-right: 5px;
}
.clip-item-onselect .clip-item-icon-copy {
  color: purple;
}

.clip-item-icon-delete:hover {
  color: red;
}
.clip-item-icon-arrow:hover {
  color: dodgerblue;
}
.clip-item-icon-bookmark:hover {
  color: blueviolet;
}

th:first-child, td:first-child,
th:last-child, td:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-clips {
  text-align: center;
  color: lightgray;
  border: lightgray 3px dashed;
  padding: 10px;
  margin: 10px;
}
